.clientcolor {
	background: #F1F1F1;
}
.brand-logo span {
	font-size: 12px;
	padding-left: 5px;
}
.chatinput {
	border: 3px solid blue;
	bottom: 0;
	position: absolute;
}
.hidden {
	display: none;
}
pre {
	display: inline;
	font-family: 'Roboto';
}
.me span::after {
	content: "(you)";
}