body {
	background: #1B1A1A !important;
	color: #757575 !important;
}
.side-nav {
	background: black !important;
}
.side-nav a {
	color: #757575 !important;
}
.nav-extended a {
	color: #757575 !important;
}
#optionsNav {
	color: #757575 !important;
}
input::-webkit-input-placeholder {
	color: #757575 !important;
}
.btn {
	background: black;
	color: #757575 !important;
}
.btn:hover {
	background: #2A2A2A !important;
}
ul.dropdown-content.select-dropdown li span {
	color: #757575 !important;
	background: black !important;
}
ul.dropdown-content.select-dropdown li span:hover {
	color: #757575 !important;
	background: #2A2A2A !important;
}
#messages {
	background: black !important;
	color: #757575 !important;
}
.collection {
	background: black !important;
	color: #1B1A1A !important;
	border: black !important;
}
li.collection-item.avatar {
	background: #1B1A1A !important;
	color: #757575 !important;
	border-bottom: 1px solid black !important;
}
.modal {
	background: black;
	color: #757575 !important;
}
.modal .modal-footer {
	background: black !important;
	color: #757575 !important;
}
.modal-footer a {
	background: black !important;
	color: #757575 !important;
}
.modal-footer a:hover {
	background: #2A2A2A !important;
}