body {
	background: #002b36 !important;
	color: white !important;
}
.side-nav {
	background: black !important;
}
.side-nav a {
	color: white !important;
}
.nav-extended a {
	color: white !important;
}
#optionsNav {
	color: white !important;
}
input::placeholder {
	color: #657b83 !important;
}
input, textarea {
	color: #93a1a1 !important;
}
.btn {
	background: #073642;
	color: #657b83 !important;
}
.btn:hover {
	background: #174662 !important;
}
ul.dropdown-content.select-dropdown li span {
	color: #839496 !important;
	background: #073642 !important;
}
ul.dropdown-content.select-dropdown li span:hover {
	color: #839496 !important;
	background: #002b36 !important;
}
#messages {
	background: black !important;
	color: #93a1a1 !important;
}
.collection {
	background: black !important;
	color: #1B1A1A !important;
	border: black !important;
}
li.collection-item.avatar {
	background: #002b36 !important;
	color: #93a1a1 !important;
	border-bottom: 1px solid #073642 !important;
}
.modal {
	background: #002b36;
	color: #93a1a1 !important;
}
.modal .modal-footer {
	background: #002b36 !important;
	color: #93a1a1 !important;
}
.modal-footer a {
	background: #284753 !important;
	color: #002b36 !important;
}
.modal-footer a:hover {
	background: #174662 !important;
}